name: Docker Build and Push
on:
  push:
    branches:
      - main
jobs:
  docker_build_and_push:
    runs-on: ubuntu-latest
    outputs:
      DOCKER_TAG_DATE: ${{ steps.set_env.outputs.DOCKER_TAG_DATE }}
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set current date as environment variable
        id: set_env
        run: |
          echo "DOCKER_TAG_DATE=$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_ENV
          echo "::set-output name=DOCKER_TAG_DATE::$(date +'%Y%m%d-%H%M%S')"

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/currencyconverter:${{ env.DOCKER_TAG_DATE }}
      
      - name: Summary of Docker Build and Push
        run: |
          echo "Docker image ${{ secrets.DOCKER_HUB_USERNAME }}/currencyconverter:${{ env.DOCKER_TAG_DATE }} has been built and pushed successfully." >> $GITHUB_STEP_SUMMARY